nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: ghostwhite;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
	background-color: lightgreen;
}

@font-face {
    	font-family: 'walk_around_the_blockregular';
    	src: url('walk-around-the-block-webfont.woff2') format('woff2'),
         	url('walk-around-the-block-webfont.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
}

h1, h2{
    	font-family: 'walk_around_the_blockregular', regular;
	font-weight:bold;
	font-style:normal;
	text-align: center;
	color: DarkBlue;
}

table, th, td {
    	width: 90%;
    	text-align: center;	
	color: DarkBlue;
	font-family: Arial Narrow, sans-serif;
	page-break-after: auto;
    	margin-left:5%; 
    	margin-right:5%;
	border-style: dotted;
	border-color: Yellow;
}
